z

<div id="main_content">
  <!-- Start Main top header -->

  <!-- Start Rightbar setting panel -->

  <!-- Start Theme panel do not add in project -->

  <!-- Start Quick menu with more functio -->
<app-sidebar></app-sidebar>
  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
<app-navbar></app-navbar>
    <!-- Start Page title and tab -->
<router-outlet></router-outlet>
    <!-- Start main footer -->
    <div class="section-body">
      <app-footer></app-footer>
    </div>
  </div>
</div>
<script>

</script>
